table {
    width: 100%;
    margin-top: 15px;
  }
.icons{
    text-align:right ;
}
td{    
    padding: 5px;
}
.pointer{
    cursor: pointer;
}
.search{
    color: royalblue;
}
.edit{
    color: orange;
}
.delete{
    color:#dd1313;
}
.not-fount{
    text-align: center;
    margin-top: 90px;
}